
li {
    font-style: italic;
    color: white;
    }
    
h1 {
    color:lawngreen;
    }
        

div,
p,
span {
    font-size: 15pt;
    color: white;
    }
    
    
span {
    background-color:blue;
    font-weight: bold;
    font-style: oblique;
    }

body {
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(39,40,3,1) 71%, rgba(138,140,7,1) 100%);
    }

a:hover {
    color:crimson;
    font-size: larger;
    }

a {
    color: yellow;
    font-size: larger;
    }